.container-contact-main-class{
    height: 900px;
    margin-top: 70px;
    background: rgba(123,118,112, 0.7);
}

.contact-main-class{
    height: 500px;
    border-radius: 7px;
    background: rgba(22, 94, 116, 0.7);
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.5);
}
.fa {
    color: rgb(255, 255, 255) !important;
}
