.home-left-class{
    height: 300px;
}

.home-left-top-class{
    margin-left: 10px;
    position: relative;
    top: -70px;
    height: 350px;
    width: 267px;
    border-radius: 7px;
    background:  rgba(13,56,88, 0.7);
}

.img-qr-home-class{
    height: 350px;
    width: 267px;
    border-radius: 7px;
    opacity: 0.4;
}