.home-button-action-class{
    position: relative;
    top: -270px;
}

.home-title-class h1{
    font-size: 80px;
    color: white;
    font-weight: 700;
}

.home-title-class p{
    font-size: 40px;
    color: white;
    margin: 0px 150px 0px 150px;
}

.button-register-class{
    height: 70px;
    font-size: 25px;  
}