.main-div-class{
    background: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.main-footer-class{
    background: blue;
    color: white;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    align-content: center;
}