.container-recover-main-class{
    height: 900px;
    margin-top: 70px;
}

.recover-main-class{
    height: 280px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 10px rgba(255,255,255,0.5);
}

.recover-main-class1{
    height: 330px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 10px rgba(255,255,255,0.5);
}