.main-services-class{
    background: rgba(255, 255, 255, 0.4);
    color: black;
    margin-top: 50px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}
.main-services-class h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: brown;
}

.PlaceButton{
    margin-top: 30px;    
    text-align: center;
    justify-content: center;
    align-content: center;
}

.principal-text-class p{
    font-size: 18px;
    text-align: justify;
    color: brown;
}

.principal-text-class strong{
    font-size: 22px;
}

.second-text-class ul{
    font-size: 18px;
    text-align: justify;
    color: brown;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}
